---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/generelt.css";
import Image from "astro/components/Image.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon1.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Vin Med Dans" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap" rel="stylesheet" />
    <title>Vin Med Dans</title>
  </head>
  <body>
    <Header />

    <main>
      <div class="forside_container">
          <img class="nyforside" src="/img/blomstervin.webp" alt="Hønefuld bliver holdt op mod solen - desktop" />
          <img class="nyforside2" src="/img/blomstervin.webp" alt="Hønefuld bliver holdt op mod solen - mobilversion">
          

            <div class="text_container">
            <h1>Velkommen til Vin Med Dans</h1>
            <p>Tak fordi du tjekker vores hjemmeside ud! Her kan du købe hjemmeproduceret bær- og frugtvin fra vores 
              bryggeri i Nordhavn, København. Desuden kan du blive klogere på hvordan vi producerer vores vine og lærer
              ejerne bag Vin Med Dans at kende. 
            </p>
            <br>
    
            <p>Tjek vores udvalg ud her! Du er velkommen til at kontakte os for spørgsmål. </p>
          </div>

          <a class="knap" href="/webshop">Tjek vores webshop</a>
        </div>
     

          

       
    <div class="mobil_text">
      <h2>Velkommen til Vin Med Dans</h2>
   </div>


   
   
    </main>
    <Footer />
    <script src="../scripts/login.js"></script>
  </body>
</html>

<style>

  /******** Generelle regler ********/

  /*******  Mobil site *******/

  img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .nyforside {
      display: none;
    }
  .nyforside2{
    display: block;
  }

  .forside_container .knap {
  display: block;
  position: absolute;
  background-color: #55a603;
  color: #f0d8e1;
  border-radius: 4px;
  font-family: "Amatic SC";
  font-size: 0.9rem;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 33%;
  top: 41%;
}

.knap:hover {
    background-color: #305832;
  }

  .mobil_text {
  position: absolute;
  display: block;
  top: 32%;
  right: 15%;
  }

  .text_container{
    display: none;
  }
  
  /******** Desktop site *******/ 

  @media (min-width: 750px) {
    img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .forside_container .knap {
  position: absolute;
  display: block;
  background-color: #55a603;
  color: #f0d8e1;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Amatic SC";
  font-size: 1.3rem;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  margin-left: 56%;
  top: 78%;
}

  .knap:hover {
    background-color: #305832;
    text-decoration: none;
  }

/* container med knap på billedet */
.text_container {
  display: block;
  text-align: left;
  color: black;
  font-weight: bolder;
  top: 25%;
  left: 16px;
  padding-right: 5%;
  padding-left: 57%;
  position: absolute;
}

.nyforside2{
    display: none;
  }
  .nyforside {
      display: block;
    }

    .mobil_text{
    display: none;
  }
}
</style>
